





/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}


@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

html { font-size:100%; }


 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -ms-overflow-style: scrollbar;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 @-ms-viewport {
   width: device-width;
 }
 
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block;
 }
 
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
 }
 
 [tabindex="-1"]:focus {
   outline: 0 !important;
 }
 
 h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
   margin-bottom: 0.5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
 }
 
 h1, .h1 {
   font-size: 2.5rem;
 }
 
 h2, .h2 {
   font-size: 2rem;
 }
 
 h3, .h3 {
   font-size: 1.75rem;
 }
 
 h4, .h4 {
   font-size: 1.5rem;
 }
 
 h5, .h5 {
   font-size: 1.25rem;
 }
 
 h6, .h6 {
   font-size: 1rem;
 }
 
 .lead {
   font-size: 1.25rem;
   font-weight: 300;
 }
 
 .display-1 {
   font-size: 6rem;
   font-weight: 300;
   line-height: 1.2;
 }
 
 .display-2 {
   font-size: 5.5rem;
   font-weight: 300;
   line-height: 1.2;
 }
 
 .display-3 {
   font-size: 4.5rem;
   font-weight: 300;
   line-height: 1.2;
 }
 
 .display-4 {
   font-size: 3.5rem;
   font-weight: 300;
   line-height: 1.2;
 }



 @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  


  #design-template{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    height: 84.5rem;

  }


  #design-template .main-content{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    height: 84.5rem;
}

#design-template .top-section{
    width: 100%;
    height: 20%;
    background-color: black;
}


#design-template .top-name{
  width: 90%;
  height: 100%;
  background-color: rgb(211, 211, 211);
  float: right;
}
#design-template #top-name{
  font-size: 4.5em;
  margin-left: 10%;
}
#design-template #top-subheading{
  margin-left: 10%;
}

#design-template .top-left-section{
    width: 60%;
    height: 100%;
    float: left;
    /* background-color: white; */
}

#design-template .top-right-section{
    width: 39%;
    float: right;
    height: 100%;
    /* background-color: white; */
}

#design-template .top-contact-banner{
    width: 100%;
    height: 100%;
    float: right;
}
#design-template .top-image{
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

#design-template .top-right-subsection{
    height: 19%;
    width: 80%;
    color: white;
    /* background-color: blue; */
    border-bottom: 1px solid white;
}

#design-template .top-icon{
    width: 10%;
    height: 60%;
    margin-top: 2%;
    float: left;
    /* padding-bottom: 10%; */

    /* background-color: red; */
}

#design-template .top-details{
    width: 85%;
    float: left;
    height:100%;
    /* background-color: red; */

}

#design-template .icons{
    /* padding-bottom: 10%; */
    width: auto;
    height: 100%;
}

p{
    font-size: 0.8em;
    line-height: 1.4em;
}


#design-template .white-space-section{
    width: 100%;
    height:3%;
}

#design-template .body-section{
    width: 100%;
    height: 70%;
    /* background-color: red; */
}



#design-template .body-left-section{
    width: 40%;
    float: left;
    height: 100%;
    background-color: rgb(161, 165, 168);
}
#design-template .headings{
    width: 70%;
    margin-left: 15%;
    height: auto;
    /* border-bottom: 2px solid black; */
}
h3{
    /* margin-top: 5px; */
    padding-top: 7px;
    font-size: 1em;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#design-template .body-right-section{
    width: 50%;
    float:right;
    height: 100%;
    margin-right: 5%;
    /* background-color: rgb(161, 165, 168); */
}

#design-template .education-section{
    width: 100%;
    height: auto;
    /* background-color: red; */
}

#design-template .paragraph{
    font-size: 0.8em;
    line-height: 1.2em;
}

#design-template .experience-section{
    width: 100%;
    height: auto;
    /* background-color: red; */
}
#design-template .Volenteer{
    width: 100%;
    height: auto;
    /* background-color: rebeccapurple; */   
}
#design-template .Interest{
    width: 100%;
    height: auto;
}

#design-template .languages{
    width: 100%;
    height: 2.3em;
    /* height: auto; */
    /* background-color: red; */
}
#design-template .names{
    width: 40%;
    height: 100%;
    float: left;
    /* background-color: red; */
}
#design-template .rating{
    width: 4.6%;
    /* height: 1em; */
    height: auto;
    margin-top: 1%;
    margin-right: 5%;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    float: left;

}
#design-template .given{
    width: 4.6%;
    height: auto;
    margin-top: 1%;
    margin-right: 5%;
    border-radius: 25px 25px 25px 25px;
    background-color: black;
    float: left;
}

